.tausta1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    z-index: -1; /* Ensure it's on top of everything */
}

.tausta1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Adjust the width as needed */
    z-index: -1; /* Ensure it's on top of everything */
}

.tausta2 {
    position: absolute;
    top: 0;
    left: 60%;
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    z-index: -1; /* Ensure it's on top of everything */
}

.tausta2 img {
    position: absolute;
    top: 0;
    left: 20%;
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Adjust the width as needed */
    z-index: -1; /* Ensure it's on top of everything */
}